@model Askrindo.Areas.Report.Models.RiskTable.RiskTableViewModel

@using Askrindo.Helpers
@using Askrindo.Areas.Report.Models.RiskTable

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Report/Views/Shared/_RiskTable.cshtml";
    int rowId = -1;
    int colId = -1;
    int index = -1;
    int intValue = 0;
    decimal decValue = 0;
}

<div id="params" class="mt-2">
    <input type="button" class="btn askrindo-btn askrindo-btn-color" value="Filter Parameter" style="padding-top: 6px;padding-bottom: 6px;vertical-align: top;" data-toggle="collapse" data-target="#frmFilterParameter" aria-controls="frmFilterParameter" aria-expanded="false" aria-label="Toggle navigation">
    <div id="frmFilterParameter" class="collapse show col-sm-8 p-4 my-2 border">
        @using (Html.BeginForm())
        {
            <div class="form-group row">
                <h4>Filter</h4>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Lokasi</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.PosId, Model.Param.PosList, "", new { id = "ddlLokasi", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlUnitKerja" class="col-sm-2 control-label">Lokasi</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.BranchId, Model.Param.Unit, "", new { id = "ddlUnitKerja", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ReportDate" class="col-sm-2 control-label">Unit Kerja</label>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Param.ReportDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                </div>
                <label for="ReportDate2" class="col-sm-2 control-label">s/d</label>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Param.ReportDate2, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                </div>
            </div>
            <div class="form-group row">
                <label for="IsApproved" class="col-sm-2 control-label">Approved?</label>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.Param.IsApproved)
                    @Html.ValidationMessageFor(m => m.Param.IsApproved)
                </div>
            </div>
            <div class="form-group row">
                <h4>Tampilan</h4>
            </div>
            <div class="form-group row">
                <label for="DataTypeId" class="col-sm-2 control-label">Data</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.DataTypeId, Model.Param.DataTypes, new { id = "ddlLokasi", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="RowGroupId" class="col-sm-2 control-label">Baris</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.RowGroupId, Model.Param.RowGroups, new { id = "ddlLokasi", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ColGroupId" class="col-sm-2 control-label">Kolom</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.ColGroupId, Model.Param.ColGroups, new { id = "ddlLokasi", @class = "form-control" })
                </div>
            </div>

            <div style="padding-top: 12px">
                <input type="submit" value="Refresh" class="btn askrindo-btn askrindo-btn-color" />
            </div>
        }
    </div>
</div>

<div style="padding-bottom: 12px;">
    <h3>Data: @ViewBag.DataTypeText</h3>    
</div>

<table class="table table-bordered mt-1">
    @if (Model.Param.ColCount > 1)
    {
        <tr>
            <th rowspan="2" style="text-align: center">@Model.Param.RowHeader</th>
            <th colspan="@Model.Param.ColCount" style="text-align: center">@Model.Param.ColHeader</th>
            @*<th rowspan="2" style="text-align: center">Total</th>*@
        </tr>
    }
    <tr>
        @if (Model.Param.ColCount == 1)
        {
            <th rowspan="1" style="text-align: center">@Model.Param.RowHeader</th>
        }
        @for (var i = 0; i < Model.Param.ColCount; i++)
        {
            <th style="text-align: center">
                @Model.Param.ColLabels[i]
            </th>
        }
    </tr>

    @for (var i = 0; i < Model.Param.RowCount; i++)
    {
        <tr>
            <td style="background-color: #eee; font-weight: bold">@Model.Param.RowLabels[i]</td>
            @for (var j = 0; j < Model.Param.ColCount; j++)
            {
                <td align="right">
                    @{
                        rowId = Model.Param.RowIds[i];
                        colId = Model.Param.ColIds[j];
                        index = RiskTableViewModel.GetCellDataIndex(rowId, colId, Model.CellList);
                        if (index >= 0)
                        {
                            if (Model.Param.DataTypeId == 1)
                            {
                                intValue = Model.CellList[index].Count;
                                if (intValue > 0)
                                {
                                    @intValue
                                }
                            }
                            else
                            {
                                if (Model.CellList[index].Count > 0)
                                {
                                    decValue = Model.CellList[index].Values / Model.CellList[index].Count;
                                    if (decValue > 0)
                                    {
                                        string.Format("{0:#,##0.##}", decValue);
                                    }
                                }
                            }
                        }
                    }
                </td>
            }
            @*@if (Model.Param.ColCount > 1)
                {
                    <td align="right">[jumlah baris]</td>
                }*@
        </tr>
    }
    @*@if (Model.Param.RowCount > 1)
        {
            <tr>
                <td style="background-color: #eee; font-weight: bold">Total</td>
                @for (var j = 0; j < Model.Param.ColCount; j++)
                {
                    <td align="right">[jumlah kolom]</td>
                }
                @if (Model.Param.ColCount > 1)
                {
                    <td align="right">[jumlah total]</td>
                }
            </tr>
        }*@
</table>

<div style="padding-top: 12px">
    @Html.ActionLink("Ekspor ke Excel", "ExportToExcel",
        new
        {
            posId = Model.Param.PosId,
            branchId = Model.Param.BranchId,
            reportDate = Model.Param.ReportDate,
            reportDate2 = Model.Param.ReportDate2,
            isApproved = Model.Param.IsApproved,
            dataTypeId = Model.Param.DataTypeId,
            rowGroupId = Model.Param.RowGroupId,
            colGroupId = Model.Param.ColGroupId
        }, new { @class = "btn askrindo-btn askrindo-btn-color" })
</div>

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#ddlLokasi').change(function () {
            var selectedValue = $(this).val();
            $.getJSON('@VirtualPathUtility.ToAbsolute("~/RiskChart/LoadUnitKerja")', { Id: selectedValue }, function (callbackData) {
                var select = $("#ddlUnitKerja");
                select.empty();
                select.append($("<option/>", {
                    value: "",
                    text: ""
                }));
                $.each(callbackData, function (index, itemData) {
                    select.append($("<option/>", {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });
    </script>
}