@{
    //ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_AskrindoLayout.cshtml";
}

<div id="sidebar">
    <div class="title">
        Admin
    </div>
    <ul id="sidemenu">
        @*<li>@Html.ActionLink("Struktur Organisasi", "DeptList", "OrgStruct", new { area = "RefData" }, null)</li>
        <li>@Html.ActionLink("Sebab Risiko", "CauseGroupList", "RiskCause", new { area = "RefData" }, null)</li>
        <li>@Html.ActionLink("Akibat Risiko", "EffectGroupList", "RiskEffect", new { area = "RefData" }, null)</li>
        <li>@Html.ActionLink("Klasifikasi Risiko", "RiskCatList", "RiskClass", new { area = "RefData" }, null)</li>
        <li>@Html.ActionLink("Tingkat Probabilitas", "Index", "ProbLevel", new { area = "RefData" }, null)</li>
        <li>@Html.ActionLink("Tingkat Dampak Keuangan", "Index", "ImpactLevel", new { area = "RefData" }, null)</li>
        <li>@Html.ActionLink("Dampak Non Keuangan", "ImpactCatList", "NonMoneyImpact", new { area = "RefData" }, null)</li>
        <li>@Html.ActionLink("Pengaturan User", "UserList", "Admin", new { area = "Admin" }, null)</li>*@
        <li>@Html.ActionLink("Pengaturan User", "Index", "UserMgr", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Pemeliharaan User", "Index", "UserMaintenance", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Pengaturan Dokumentasi", "Index", "DocMgr", new { area = "Admin" }, null)</li>
    </ul>
</div>

<div id="content_container">
    <div id="content">
        @RenderBody()
    </div>
</div>
<div style="clear: both"></div>
