@model Askrindo.Areas.Report.Models.LossEvent.LossEventViewModel

@using Askrindo.Helpers

@{
    ViewBag.Title = "Loss Event Menurut Pemilik";
    Layout = "~/Areas/Report/Views/Shared/_LossEvent.cshtml";
}

<div id="params" class="mt-2">
    <input type="button" class="btn askrindo-btn askrindo-btn-color" value="Filter Parameter" style="padding-top: 6px;padding-bottom: 6px;vertical-align: top;" data-toggle="collapse" data-target="#frmFilterParameter" aria-controls="frmFilterParameter" aria-expanded="false" aria-label="Toggle navigation">
    <div id="frmFilterParameter" class="collapse show col-sm-8 p-4 my-2 border">
        @using (Html.BeginForm())
        {
            <div class="form-group row">
                <h4>Filter</h4>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Lokasi</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.PosId, Model.Param.PosList, "", new { id = "ddlLokasi", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Lokasi</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.BranchId, Model.Param.Unit, "", new { id = "ddlUnitKerja", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Lokasi</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.KlasId, Model.Param.klasList, "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Unit Kerja</label>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Param.ReportDate, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                </div>
                <label for="ddlLokasi" class="col-sm-2 control-label">s/d</label>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Param.ReportDate2, "{0:dd/MM/yyyy}", new { @class = "form-control date" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Approved?</label>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.Param.IsApproved)
                    @Html.ValidationMessageFor(m => m.Param.IsApproved)
                </div>
            </div>

            <div style="padding-top: 12px">
                <input type="submit" value="Refresh" class="btn askrindo-btn askrindo-btn-color" />
            </div>
        }
    </div>
</div>


<table class="table table-bordered mt-3">
    <tr>
        <th>Tahun</th>
        <th>Unit Kerja(Pemilik Kerugian)</th>
        <th>Klasifikasi Kerugian</th>
        <th>Jumlah Kasus</th>
        <th>Dampak Keuangan</th>
        <th>Dampak Non Keuangan</th>
    </tr>
    @foreach (var item in Model.LossList)
    {
        <tr style="background-color:White">
            <td>@Html.DisplayFor(m => item.lossEventPemilik.tahun)</td>
            <td>@Html.DisplayFor(m => item.lossEventPemilik.pemilik)</td>
            <td>@Html.DisplayFor(m => item.lossEventPemilik.Klasifikasi)</td>
            <td>@Html.DisplayFor(m => item.lossEventPemilik.jml_kasus)</td>
            <td>@Html.DisplayFor(m => item.lossEventPemilik.ImpactFinancial)</td>
            <td>-</td>
        </tr>
    }
</table>

<div style="padding-top: 12px">
    @Html.ActionLink("Ekspor ke Excel", "ExportToExcelPemilik",
        new
        {
            posId = Model.Param.PosId,
            branchId = Model.Param.BranchId,
            klasId = Model.Param.KlasId,
            reportDate = Model.Param.ReportDate,
            reportDate2 = Model.Param.ReportDate2
        }, new { @class="btn askrindo-btn askrindo-btn-color" })
</div>

@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('#ddlLokasi').change(function () {
            var selectedValue = $(this).val();
            $.getJSON('@VirtualPathUtility.ToAbsolute("~/RiskChart/LoadUnitKerja")', { Id: selectedValue }, function (callbackData) {
                var select = $("#ddlUnitKerja");
                select.empty();
                select.append($("<option/>", {
                    value: "",
                    text: ""
                }));
                $.each(callbackData, function (index, itemData) {
                    select.append($("<option/>", {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });
    </script>
}