@model Askrindo.Areas.Report.Models.LossEvent.LossEventViewModel
           
@using Askrindo.Helpers

@{
    ViewBag.Title = "Loss Event Menurut Pemilik";
    Layout = "~/Areas/Report/Views/Shared/_LossEvent.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $("#params").accordion({
            collapsible: true,
            active: -1
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlLokasi').change(function () {
            var selectedValue = $(this).val();
            $.getJSON('@VirtualPathUtility.ToAbsolute("~/RiskChart/LoadUnitKerja")', { Id: selectedValue }, function (callbackData) {
                var select = $("#ddlUnitKerja");
                select.empty();
                select.append($("<option/>", {
                    value: "",
                    text: ""
                }));
                $.each(callbackData, function (index, itemData) {
                    select.append($("<option/>", {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });
</script>

<div id="params" style="padding-bottom: 12px">
    <h3>
        <a href="#">Parameter</a>
    </h3>
    <div>
        @using (Html.BeginForm()) {
            <table class="edit">
                <tr style="background-color: #ddd">
                    <td colspan="2"><b>FILTER</b></td>
                </tr>
                <tr>
                    <td>Lokasi</td>
                    <td>@Html.DropDownListFor(m => m.Param.PosId, Model.Param.PosList, "",
                        new { id = "ddlLokasi", style = "width: 200px;" })</td>
                </tr>
                <tr>
                    <td>Unit Kerja</td>
                    <td>@Html.DropDownListFor(m => m.Param.BranchId, Model.Param.Unit, "",
                        new { id = "ddlUnitKerja", style = "width: 200px;" })</td>
                </tr>
                <tr>
                    <td>Klasifikasi Kerugian</td>
                    <td>@Html.DropDownListFor(m => m.Param.KlasId, Model.Param.klasList, "",
                        new { style = "width: 200px;" })</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>@Html.EditorFor(m => m.Param.ReportDate) s/d @Html.EditorFor(m => m.Param.ReportDate2)</td>
                </tr>
                <tr>
                    <td>Approved?</td>
                    <td>
                        @Html.CheckBoxFor(m => m.Param.IsApproved)
                        @Html.ValidationMessageFor(m => m.Param.IsApproved)
                    </td>
                </tr>
            </table>
        
            <div style="padding-top: 12px">
                <input type="submit" value="Refresh" />
            </div>
        }
    </div>
</div>


<table class="list">
    <tr >
        <th>Tahun</th>
        <th>Unit Kerja(Pemilik Kerugian)</th> 
        <th>Klasifikasi Kerugian</th>
        <th>Jumlah Kasus</th>
        <th>Dampak Keuangan</th>
        <th>Dampak Non Keuangan</th>
    </tr>
@foreach (var item in Model.LossList)
{
    <tr style="background-color:White">
        <td>@Html.DisplayFor(m => item.lossEventPemilik.tahun)</td>
        <td>@Html.DisplayFor(m => item.lossEventPemilik.pemilik)</td>
        <td>@Html.DisplayFor(m => item.lossEventPemilik.Klasifikasi)</td>
        <td>@Html.DisplayFor(m => item.lossEventPemilik.jml_kasus)</td>
        <td>@Html.DisplayFor(m => item.lossEventPemilik.ImpactFinancial)</td>
        <td>-</td>
    </tr>
}
</table>

<div style="padding-top: 12px">
    @Html.ActionLink("Ekspor ke Excel", "ExportToExcelPemilik",
        new
        {
            posId = Model.Param.PosId,
            branchId = Model.Param.BranchId,
            klasId = Model.Param.KlasId,
            reportDate = Model.Param.ReportDate,
            reportDate2 = Model.Param.ReportDate2
        }, null)
</div>

