@model Askrindo.Areas.Report.Models.RiskChart.RiskChartViewModel
           
@using Askrindo.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Report/Views/Shared/_RiskChart.cshtml";
}

<script type="text/javascript">
    $(function () {
        $("#params").accordion({
            collapsible: true,
            active: -1
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlLokasi').change(function () {
            var selectedValue = $(this).val();
            $.getJSON('@VirtualPathUtility.ToAbsolute("~/RiskChart/LoadUnitKerja")', { Id: selectedValue }, function (callbackData) {
                var select = $("#ddlUnitKerja");
                select.empty();
                select.append($("<option/>", {
                    value: "",
                    text: ""
                }));
                $.each(callbackData, function (index, itemData) {
                    select.append($("<option/>", {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        });
    });
</script>

<div id="params" style="padding-bottom: 12px">
    <h3>
        <a href="#">Parameter</a>
    </h3>
    <div>
        @using (Html.BeginForm()) {
            <table class="edit">
                <tr style="background-color: #ddd">
                    <td colspan="2"><b>FILTER</b></td>
                </tr>
                <tr>
                    <td>Lokasi</td>
                    <td>@Html.DropDownListFor(m => m.PosId, Model.PosList, "",
                        new { id = "ddlLokasi", style = "width: 200px;" })</td>
                </tr>
                <tr>
                    <td>Unit Kerja</td>
                    <td>@Html.DropDownListFor(m => m.BranchId, Model.Unit, "",
                        new { id = "ddlUnitKerja", style = "width: 200px;" })</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>@Html.EditorFor(m => m.ReportDate) s/d @Html.EditorFor(m => m.ReportDate2)</td>
                </tr>
                <tr>
                    <td>Approved?</td>
                    <td>
                        @Html.CheckBoxFor(m => m.IsApproved)
                        @Html.ValidationMessageFor(m => m.IsApproved)
                    </td>
                </tr>
                <tr style="background-color: #ddd">
                    <td colspan="2"><b>TAMPILAN</b></td>
                </tr>
                <tr>
                    <td>Tampilan Grafik</td>
                    <td>@Html.DropDownListFor(m => m.ChartTypeId, Model.ChartTypes)</td>
                </tr>
                <tr>
                    <td>Data Grafik</td>
                    <td>@Html.DropDownListFor(m => m.YValueId, Model.YValues)</td>
                </tr>
                <tr>
                    <td>Pengelompokan</td>
                    <td>@Html.DropDownListFor(m => m.XValueId, Model.XValues)</td>
                </tr>
            </table>
        
            <div style="padding-top: 12px">
                <input type="submit" value="Refresh" />
            </div>
        }
    </div>
</div>

<div style="padding-bottom: 12px; font-size: 1.2em">
    Data: @ViewBag.DataTypeText
</div>

<img src="@Url.Action("ChartGenerator")" alt="chart" />

<div style="padding-top: 12px">
    @Html.ActionLink("Ekspor Grafik", "ExportChart")
</div>