@using Askrindo.Areas.RCSA.Models
@model SearchViewModel
@{
    ViewBag.breadCrumb = "Data Risiko / Data Risiko Baru / Search";
    Layout = "~/Areas/RCSA/Views/Shared/RCSALayout.cshtml";
}
<div class="askrindo-content-header">
    <a href="@Url.Action("Index", "New")" class="askrindo-header-link">KEMBALI KE FORM</a>
</div>
<div class="askrindo-content-box">
    @using (Html.BeginForm("Search", "New", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Peristiwa Risiko</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Keyword, new { @class = "form-control", placeholder = "Tulis kata kunci." })
            </div>
        </div>

        <div class="text-right">
            <input type="submit" class="btn btn-secondary askrindo-btn askrindo-btn-color" value="Cari Peristiwa" />
        </div>
    }
    @if (Model == null)
    {
        <div class="text-center">Silahkan tulis kata pencarian.</div>
    }
    else if (Model.RiskEvents.Count > 0)
    {
        <table class="table table-bordered askrindo-table" style="margin-top: 20px;">
            <thead>
                <tr>
                    <th>Peristiwa Risiko</th>
                    <th colspan="3">Klasifikasi Risiko</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RiskEvents)
                {
                    <tr>
                        <td>@item.RiskEvent1</td>
                        <td>@item.RiskType.RiskGroup.RiskCat.RiskCatName</td>
                        <td><i class="fa fa-caret-right"></i> @item.RiskType.RiskGroup.RiskGroupName</td>
                        <td><i class="fa fa-caret-right"></i> @item.RiskType.RiskTypeName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Data tidak ditemukan.
        </div>
    }
</div>