@model IEnumerable<Askrindo.Models.RiskCat>

@{
    ViewBag.Title = "RiskCatList";
    Layout = "~/Areas/RefData/Views/Shared/_RiskClass.cshtml";

    var canModify = (bool)ViewBag.CanModify;
}

<h3>Daftar Klasifikasi Risiko</h3>

@if (canModify)
{ 
<div style="padding-bottom: 12px">
    @Html.ActionLink("Kategori Risiko Baru", "RiskCatNew")
</div>
}

<table class="list">
    <tr>
        <th>ID</th>
        <th>Group</th>
        <th>Nama Klasifikasi Risiko</th>
        <th>Status</th>
        @if (canModify)
        { 
        <th></th>
        }
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RiskCatId)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.Grup)*@
            @if (item.Grup.Equals("1"))
            {
                <div>Risiko Utama</div>
            }
            else
            {
                <div>Proses Bisnis</div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskCatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        @if (canModify)
        { 
        <td>
            @Html.ActionLink("Edit", "RiskCatEdit", new { id = item.RiskCatId }) |
            @Html.ActionLink("Hapus", "RiskCatDelete", new { id = item.RiskCatId })
        </td>
        }
        <td>
            @Html.ActionLink("Kelompok Risiko (" + item.RiskGroups.Count + ")", "RiskGroupList", new { catId = item.RiskCatId }, null)
        </td>
    </tr>
}
</table>