@model IList<Askrindo.Models.JoinOrganisasi>

@{
    Layout = "~/Areas/RefData/Views/Shared/_orgstruct.cshtml";

    var canModify = (bool)ViewBag.CanModify;
}
<h3>Daftar Bagian</h3>

@if (canModify)
{ 
<div style="padding-bottom: 12px">
    @Html.ActionLink("Tambah", "BagianNew")
</div>
}

<table class="list">
    <tr>
        <td align=center style="background-color: Silver;"><b>ID</b></th>
        <td align=center style="background-color: Silver;"><b>Direktorat</b></td>
        <td align=center style="background-color: Silver;"><b>Divisi</b></td>
        <td align=center style="background-color: Silver;"><b>Bagian</b></td>
        <td align=center style="background-color: Silver;"><b>Supporting Unit</b></td>
        @if (canModify)
        {
        <td align=center style="background-color: Silver;"><b>Proses</b></td>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.SubDiv.SubDivId)</td>
        <td>@Html.DisplayFor(modelItem => item.Dept.DeptName)</td>
        <td>@Html.DisplayFor(modelItem => item.Division.DivisionName)</td>
        <td>@Html.DisplayFor(modelItem => item.SubDiv.SubDivName)</td>
        <td align=center>@Html.DisplayFor(modelItem => item.SubDiv.IsSupporting)</td>
        @if (canModify)
        {
        <td>
            @Html.ActionLink("Edit", "BagianEdit", new { id = item.SubDiv.SubDivId }) |
            @Html.ActionLink("Hapus", "BagianDelete", new { id = item.SubDiv.SubDivId })
        </td>
        }
    </tr>
}

</table>
