@model Askrindo.Areas.RefData.Models.OrgStruct.BagianViewModel
           
@{
    ViewBag.Title = "BagianNew";
    Layout = "~/Areas/RefData/Views/Shared/_OrgStruct.cshtml";
}

<h3>Bagian Baru</h3>
@*@Html.Partial("_Info_Dept", Model.Dept)*@

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <table class="edit">
        <tr>
            <td>ID</td>
            <td>
                @Html.EditorFor(model => model.Bagian.SubDivId)
                @*@Html.ValidationMessageFor(model => model.Param.DibawahDirektorat)*@
            </td>
        </tr>
        <tr>
            <td>Divisi</td>
            <td>
                @Html.DropDownListFor(model => model.Bagian.DivisionId, Model.Param.DivisiList, "")
                @*@Html.ValidationMessageFor(model => model.Param.DeptId)*@
            </td>
        </tr>
        <tr>
            <td>Bagian</td>
            <td>
                @Html.EditorFor(model => model.Bagian.SubDivName)
                @*@Html.ValidationMessageFor(model => model.Param.SubDeptName)*@
            </td>
        </tr>
        <tr>
            <td>Supporting Unit?</td>
            <td>
                @Html.CheckBoxFor(model => model.Bagian.IsSupporting)
                @*@Html.ValidationMessageFor(m => m.Param.IsApproved)*@
            </td>
        </tr>
    </table>
    
    <div style="padding-top: 12px">
        <input type="submit" value="Simpan" /> |
        @Html.ActionLink("Batal", "Bagian")
    </div>
}
