@model Askrindo.Areas.RefData.Models.OrgStruct.BizUnitViewModel

@{
    ViewBag.Title = "BizUnitList";
    Layout = "~/Areas/RefData/Views/Shared/_orgstruct.cshtml";
    
    var canModify = (bool)ViewBag.CanModify;
}

<h3 style="padding-bottom: 0; margin-bottom: 0">Daftar KUP</h3>
@Html.Partial("_Info_Branch", Model.Branch)

@if (canModify)
{ 
<div style="padding-bottom: 12px">
    @Html.ActionLink("KUP Baru", "BizUnitNew", new { branchId = @Model.Branch.BranchId }, null)
</div>
}

<table class="list">
    <tr>
        <th>ID</th>
        <th>Nama KUP</th>
        <th>Kode Kantor</th>
        <th>Supporting Unit</th>
        @if (canModify)
        { 
        <th></th>
        }
    </tr>
@foreach (var item in Model.BizUnits) { 
    <tr>
        <td>@Html.DisplayFor(modelItem => item.BizUnitId)</td>
        <td>@Html.DisplayFor(modelItem => item.BizUnitName)</td>
        <td align="center">@Html.DisplayFor(modelItem => item.BizUnitCode)</td>
        <td align="center">@Html.DisplayFor(modelItem => item.IsSupporting)</td>
        @if (canModify)
        { 
        <td>
            @Html.ActionLink("Edit", "BizUnitEdit", new { id = @item.BizUnitId }, null) |
            @Html.ActionLink("Hapus", "BizUnitDelete", new { id = @item.BizUnitId }, null)
        </td>
        }
    </tr>
}
</table>

<div style="padding-top: 12px">
    @Html.ActionLink("Daftar Cabang", "BranchList", new { deptId = @Model.Branch.DeptId }, null)
</div>