@model IList<Askrindo.Models.JoinOrganisasi>

@{
    Layout = "~/Areas/RefData/Views/Shared/_orgstruct.cshtml";

    var canModify = (bool)ViewBag.CanModify;
}
<h3>Daftar Bagian di bawah Direktorat</h3>

@if (canModify)
{ 
<div style="padding-bottom: 12px">
    @Html.ActionLink("Tambah", "DibawahDirektoratNew")
</div>
}

<table class="list">
    <tr>
        <td align=center style="background-color: Silver;"><b>ID</b></th>
        <td align=center style="background-color: Silver;"><b>Direktorat</b></td>
        <td align=center style="background-color: Silver;"><b>Bagian di bawah Direktorat</b></td>
        @if (canModify)
        { 
        <td align=center style="background-color: Silver;"><b>Proses</b></td>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.SubDept.SubDeptId)</td>
        <td>@Html.DisplayFor(modelItem => item.Dept.DeptName)</td>
        <td>@Html.DisplayFor(modelItem => item.SubDept.SubDeptName)</td>
        @if (canModify)
        { 
        <td>
            @Html.ActionLink("Edit", "DibawahDirektoratEdit", new { id = item.SubDept.SubDeptId }) |
            @Html.ActionLink("Hapus", "DibawahDirektoratDelete", new { id = item.SubDept.SubDeptId })
        </td>
        }
    </tr>
}

</table>
