@model IEnumerable<Askrindo.Models.Dept>

@{
    Layout = "~/Areas/RefData/Views/Shared/_orgstruct.cshtml";

    var canModify = (bool)ViewBag.CanModify;
}
<h3>Daftar Direktorat</h3>

@if (canModify)
{
<div style="padding-bottom: 12px">
    @Html.ActionLink("Tambah", "DirektoratNew")
</div>
}

<table class="list">
    <tr>
        <td align=center style="background-color: Silver;"><b>ID</b></td>
        <td align=center style="background-color: Silver;"><b>Direktorat</b></td>
        @if (canModify)
        {
        <td align=center style="background-color: Silver;"><b>Proses</b></td>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.DeptId)</td>
        <td>@Html.DisplayFor(modelItem => item.DeptName)</td>
        
        @if (canModify)
        {
        <td>
            @Html.ActionLink("Edit", "DirektoratEdit", new { id = item.DeptId }) |
            @Html.ActionLink("Hapus", "DirektoratDelete", new { id = item.DeptId })
        </td>
        }
    </tr>
}

</table>
