@model Askrindo.Models.Division

@{
    ViewBag.Title = "DivDelete";
    Layout = "~/Areas/RefData/Views/Shared/_orgstruct.cshtml";
}

<h3 style="padding-bottom: 0; margin-bottom: 0">Hapus Divisi</h3>
@Html.Partial("_Info_Dept", Model.Dept)

<div style="padding-bottom: 12px" class="warning">
    Divisi berikut akan dihapus. Lanjutkan?
</div>

<table class="warning">
    <tr>
        <td>ID</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.DivisionId)</td>
    </tr>
    <tr>
        <td>Nama Divisi</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.DivisionName)</td>
    </tr>
    <tr>
        <td>Supporting Unit?</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.IsSupporting)</td>
    </tr>
</table>

@using (Html.BeginForm()) {
    <div style="padding-top: 12px">
        <input type="submit" value="Hapus" /> |
        @Html.ActionLink("Batal", "DivList", new { deptid = Model.DeptId }, null)
    </div>
}
