@model Askrindo.Areas.RefData.Models.OrgStruct.DivisiViewModel

@{
    ViewBag.Title = "DivisiDelete";
    Layout = "~/Areas/RefData/Views/Shared/_OrgStruct.cshtml";
}

<h3 style="padding-bottom: 0; margin-bottom: 0">Hapus Divisi</h3>
@*@Html.Partial("_Info_Dept", Model.DibawahDirektorat.Dept)*@

<div style="padding-bottom: 12px" class="warning">
    Divisi berikut akan dihapus. Lanjutkan?
</div>

<table class="warning">
    <tr>
        <td>ID</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.Divisi.DivisionId)</td>
    </tr>
    <tr>
        <td>Direktorat</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.Divisi.Dept.DeptName)</td>
    </tr>
    <tr>
        <td>Divisi</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.Divisi.DivisionName)</td>
    </tr>
    <tr>
        <td>Supporting Unit?</td>
        <td>:</td>
        <td>@Html.DisplayFor(model => model.Divisi.IsSupporting)</td>
    </tr>
</table>

@using (Html.BeginForm()) {
    <div style="padding-top: 12px">
        <input type="submit" value="Hapus" /> |
        @Html.ActionLink("Batal", "Divisi")
    </div>
}

