@model Askrindo.Areas.RefData.Models.OrgStruct.KantorUnitViewModel
           
@{
    ViewBag.Title = "KantorUnitEdit";
    Layout = "~/Areas/RefData/Views/Shared/_OrgStruct.cshtml";
}

<h3>Edit Kantor Unit</h3>
@*@Html.Partial("_Info_Dept", Model.Dept)*@

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.KantorUnit.BizUnitId)
    <table class="edit">
        <tr>
            <td>ID</td>
            <td>
                @Html.DisplayFor(model => model.KantorUnit.BizUnitId)
                @*@Html.ValidationMessageFor(model => model.Param.DibawahDirektorat)*@
            </td>
        </tr>
        <tr>
            <td>Cabang</td>
            <td>
                @Html.DropDownListFor(model => model.KantorUnit.BranchId, Model.Param.CabangList, "")
                @*@Html.ValidationMessageFor(model => model.Param.SubDeptName)*@
            </td>
        </tr>
        <tr>
            <td>Kantor Unit</td>
            <td>
                @Html.EditorFor(model => model.KantorUnit.BizUnitName)
                @*@Html.ValidationMessageFor(model => model.Param.SubDeptName)*@
            </td>
        </tr>
        <tr>
            <td>Kode</td>
            <td>
                @Html.EditorFor(model => model.KantorUnit.BizUnitCode)
                @*@Html.ValidationMessageFor(model => model.Param.SubDeptName)*@
            </td>
        </tr>
        <tr>
            <td>Supporting Unit?</td>
            <td>
                @Html.CheckBoxFor(model => model.KantorUnit.IsSupporting)
                @*@Html.ValidationMessageFor(m => m.Param.IsApproved)*@
            </td>
        </tr>
        <tr>
            <td>Non Aktif</td>
            <td>
                @Html.CheckBoxFor(model => model.KantorUnit.statusf)
                @*@Html.ValidationMessageFor(m => m.Param.IsApproved)*@
            </td>
        </tr>
    </table>
    
    <div style="padding-top: 12px">
        <input type="submit" value="Simpan" /> |
        @Html.ActionLink("Batal", "KantorUnit")
    </div>
}
