@model Askrindo.Models.RiskMitigation
@{
    ViewBag.Title = "Approve";
    Layout = "~/Areas/RCSA/Views/Shared/RCSALayout.cshtml";
}

<div class="askrindo-content-box">
    <table>
        <tbody>
            <tr>
                <td style="width: 124px">Kode Mitigasi</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.MitigationCode)</td>
            </tr>
            <tr>
                <td>Uraian</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.MitigationName)</td>
            </tr>
            <tr>
                <td>Tanggal</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.MitigationDate)</td>
            </tr>
            <tr>
                <td>Kelompok Mitigasi</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.MitigationCat.MitigationCatName)</td>
            </tr>
            <tr>
                <td>Jenis Mitigasi</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.MitigationType.MitigationTypeName)</td>
            </tr>
            <tr>
                <td>Tingkat Probabilitas</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.ProbLevelId) - @Html.DisplayFor(m => m.ProbLevel.ProbLevelName)</td>
            </tr>
            <tr>
                <td>Tingkat Dampak</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.ImpactLevelId) - @Html.DisplayFor(m => m.ImpactLevel.ImpactLevelName)</td>
            </tr>
            <tr>
                <td>Tingkat Risiko</td>
                <td>:</td>
                <td>@Html.DisplayFor(m => m.RiskLevel)</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td>Approve?</td>
                <td>:</td>
                <td>@(Model.ApprovalDate == null ? "Tidak" : "Ya")</td>
            </tr>

            @if (Model.ApprovalDate != null)
            {
                <tr>
                    <td>Tanggal Approve</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(m => m.ApprovalDate)</td>
                </tr>
                <tr>
                    <td>Oleh</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(m => m.UserInfo.FullName)</td>
                </tr>
                <tr>
                    <td>Jabatan</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(m => m.JobTitle)</td>
                </tr>
            }
        </tbody>
    </table>
    <div style="margin-top: 20px;">
        @using (Html.BeginForm("Approve", "Mitigation", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.MitigationId)
            <input type="submit" class="btn askrindo-btn askrindo-btn-color" value="Simpan" />
            @Html.ActionLink("Kembali", "Index", new { id = Model.MitigationId }, new { @class = "btn askrindo-btn btn-secondary" })
        }
    </div>
</div>
