@model Askrindo.Areas.RCSA.Models.MitigationActionModel
@{
    ViewBag.Title = "MitigationActionEdit";
    Layout = "~/Areas/RCSA/Views/Shared/RCSALayout.cshtml";
}

<div class="askrindo-content-box">
    @using (Html.BeginForm())
    {
        <table class="edit table">
            <tr>
                @Html.HiddenFor(m => m.mitigationcode)
                @Html.HiddenFor(m => m.mitigationactioncode)
                <td>Kode Mitigasi</td>
                <td>
                    @Html.DisplayFor(m => m.mitigationcode)
                    @Html.ValidationMessageFor(m => m.mitigationcode)
                </td>
            </tr>
            <tr>
                <td>Kode Progress Mitigasi</td>
                <td>
                    @Html.DisplayFor(m => m.mitigationactioncode)
                    @Html.ValidationMessageFor(m => m.mitigationactioncode)
                </td>
            </tr>
            <tr>
                <td>Person In Charge(PIC)</td>
                <td>
                    @Html.EditorFor(m => m.pic, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.pic)
                </td>
            </tr>
            <tr>
                <td>Sumber Daya <br>yang Dibutuhkan</td>
                <td>
                    @Html.TextAreaFor(m => m.require, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.require)
                </td>
            </tr>
            <tr>
                <td>Estimasi Biaya Mitigasi (Rp.)</td>
                <td>
                    @Html.TextBoxFor(m => m.biaya, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.biaya)
                </td>
            </tr>
            <tr>
                <td>Usulan Dimasukkan dlm RKAP/RTL<br>Tahun Berikutnya?</td>
                <td>
                    @Html.CheckBoxFor(m => m.isRKAP1)Ya
                    @Html.ValidationMessageFor(m => m.isRKAP1)
                </td>
            </tr>
            <tr>
                <td>Tanggal Target Penyelesaian</td>
                <td>
                    @if (Model.limitDate.HasValue)
                    {
                        <input name="@Html.NameFor(m => m.limitDate)" type="datetime" value="@Model.limitDate.Value.ToString("dddd, dd MMMM yyyy")" data-date-format='DD, dd MM yyyy' class="form-control askrindo-form-control datepicker-here" data-language='en'>
                    }
                    else
                    {
                        <input name="@Html.NameFor(m => m.limitDate)" type="datetime" value="@DateTime.Now.ToString("dddd, dd MMMM yyyy")" data-date-format='DD, dd MM yyyy' class="form-control askrindo-form-control datepicker-here" data-language='en'>
                    }
                    @Html.ValidationMessageFor(m => m.limitDate)
                </td>
            </tr>

            <tr style="background-color: #ddd">
                <td colspan="2"><b>Detail</b></td>
            </tr>
            <tr>
                @if (Model.totalProgress == 100)
                {
                    <td colspan="2" align="center" style="font-size:large"><b>PROGRESS 100%</b></td>
                }
                else
                {
                    <td colspan="2" align="center" style="font-size:large"><b>@Html.ActionLink("Progress", "ProgressIndex", new { id = Model.actionId })</b></td>
                }
            </tr>
        </table>

        <div style="padding-top: 12px">
            <input type="Submit" data-eskrindo-input="true" value="Simpan" /> |
            @Html.ActionLink("Batal", "MitigationActionList", new { id = Model.mitigationid })
        </div>
    }
</div>

@section scripts{

    @Scripts.Render("~/bundles/airdatepickerjs")
    @Styles.Render("~/Content/airdatepickercss")

}