@model Askrindo.Areas.RCSA.Models.MitigationActionModel
@{
    ViewBag.Title = "MitigationAction";
    Layout = "~/Areas/RCSA/Views/Shared/RCSALayout.cshtml";
}

@using (Html.BeginForm())
{
    <table class="edit table">
        <tr>
            <td>Kode Tindakan</td>
            <td colspan='4'>@Html.TextBoxFor(m => m.action.ActionCode)</td>
        </tr>
        <tr>
            <td>Kode Mitigasi</td>
            <td colspan='4'>@Html.TextBoxFor(m => m.mitigationcode)</td>
        </tr>
        <tr>
            <td>Tanggal Input</td>
            <td>@Html.EditorFor(m => m.tglAwal)</td>
            <td>S/D</td>
            <td>@Html.EditorFor(m => m.tglAkhir)</td>
            <td><input type="submit" value="Proses" /></td>
        </tr>
        @*<tr>
            <td>@Html.ValidationMessageFor(m => m.tglAwal)</td>
            <td>@Html.ValidationMessageFor(m => m.tglAwal)</td>
        </tr>*@
    </table>
}

<div style="padding:9px">
    <table class="list table">
        <tr>
            <th>Kode Mitigasi</th>
            <th>Uraian</th>
            <th>Kode Tindakan</th>
            <th></th>
        </tr>
        @foreach (var m in Model.actionList)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => m.RiskMitigation.MitigationCode)</td>
                <td>@Html.DisplayFor(modelItem => m.RiskMitigation.MitigationName)</td>
                <td>@Html.DisplayFor(modelItem => m.ActionCode)</td>
                <td>@Html.ActionLink("Approve", "MitigationActionAppView", new { id = m.ActionID })</td>
            </tr>
        }
    </table>
</div>