@model IEnumerable<Askrindo.Models.bisni>

@{
    ViewBag.Title = "RiskReference";
    Layout = "~/Areas/RefData/Views/Shared/_RiskBiz.cshtml";
}

<table class="list">
    <tr>
        <th>ID</th>
        <th>Bisnis</th>
        <th colspan=2>Proses</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.bisnisid)</td>
        <td>@Html.DisplayFor(modelItem => item.bisnis)</td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.bisnisid })</td>
        <td>@Html.ActionLink("Delete", "Delete", new { id = item.bisnisid })</td>
    </tr>
    }
</table>


<div style="padding-top: 12px">
    <input type="Button" value="Tambah" onclick="location.href='@Url.Action("insert","RiskBiz")';return false;"/>
</div>
