@model Askrindo.Models.ProbLevel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/RefData/Views/Shared/_ProbLevel.cshtml";
}

<h3>Edit Tingkat Probabilitas</h3>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ProbLevelId)
    <table class="edit">
        <tr>
            <td>Level</td>
            <td>
                @Html.DisplayFor(model => model.ProbLevelId)
            </td>
        </tr>
        <tr>
            <td>Keterangan</td>
            <td>
                @Html.EditorFor(model => model.ProbLevelName)
                @Html.ValidationMessageFor(model => model.ProbLevelName)
            </td>
        </tr>
        <tr>
            <td>% Min</td>
            <td>
                @Html.EditorFor(model => model.PctMin)
                @Html.ValidationMessageFor(model => model.PctMin)
            </td>
        </tr>
        <tr>
            <td>% Maks</td>
            <td>
                @Html.EditorFor(model => model.PctMax)
                @Html.ValidationMessageFor(model => model.PctMax)
            </td>
        </tr>
        <tr>
            <td>Indikasi Umum</td>
            <td>
                @Html.TextAreaFor(model => model.DescriptionGeneral)
                @*@Html.EditorFor(model => model.DescriptionGeneral)*@
                @Html.ValidationMessageFor(model => model.DescriptionGeneral)
            </td>
        </tr>
        <tr>
            <td>Indikasi Proyek</td>
            <td>
                @Html.TextAreaFor(model => model.DescriptionProject)
                @Html.ValidationMessageFor(model => model.DescriptionProject)
            </td>
        </tr>
    </table>
    
    <div style="padding-top: 12px">
        <input type="submit" value="Update" />
    </div>
}

<div style="padding-top: 12px">
    @Html.ActionLink("Daftar Tingkat Probabilitas", "Index")
</div>
