@model Askrindo.Areas.Report.Models.RiskMap.RiskMapViewModel

@using Askrindo.Helpers
@using Askrindo.Areas.Report.Models.RiskMap

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Report/Views/Shared/_RiskMap.cshtml";
}

@{
    var cnt = 0;
    var backColor = string.Empty;
    var foreColor = string.Empty;
    int prob = 0;
    int impact = 0;
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<style>
    .riskmap tbody tr td {
        width: 150px !important;
        height: 100px;
        border: 1px solid #eee;
    }

        .riskmap tbody tr td a {
            color: #000
        }

    .riskmap .prob {
        font-size: 14px;
        text-align: right;
        padding-right: 8px;
        border: none !important;
    }

    .riskmap .probaxis {
        text-align: center;
        font-weight: 700;
        border: none !important;
    }

    .riskmap .impact {
        font-size: 14px;
        border: none !important;
        text-align: center;
        vertical-align: top;
        padding-top: 8px;
    }

    .riskmap .impactaxis {
        text-align: center;
        font-weight: 700;
        border: none !important;
    }
</style>

<div id="params" style="padding-bottom: 12px">
    <input type="button" class="btn askrindo-btn askrindo-btn-color" value="Filter Parameter" style="padding-top: 6px;padding-bottom: 6px;vertical-align: top;" data-toggle="collapse" data-target="#frmFilterParameter" aria-controls="frmFilterParameter" aria-expanded="false" aria-label="Toggle navigation">
    <div id="frmFilterParameter" class="collapse col-sm-8 p-4 border">
        @using (Html.BeginForm())
        {
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Lokasi</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.PosId, Model.Param.PosList, "", new { id = "ddlLokasi", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Unit Kerja</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.Param.BranchId, Model.Param.Unit, "", new { id = "ddlUnitKerja", @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Unit Kerja</label>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Param.MapDate, new { @class = "form-control" })
                </div>
                <label for="ddlLokasi" class="col-sm-2 control-label">Unit Kerja</label>
                <div class="col-sm-4">
                    @Html.EditorFor(m => m.Param.MapDate2, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                <label for="ddlLokasi" class="col-sm-2 control-label">Approved?</label>
                <div class="col-sm-10">
                    @Html.CheckBoxFor(m => m.Param.IsApproved)
                    @Html.ValidationMessageFor(m => m.Param.IsApproved)
                </div>
            </div>
            <div style="padding-top: 12px">
                <input type="submit" value="Refresh" class="btn askrindo-btn askrindo-btn-color" />
            </div>
        }
    </div>
</div>

<table class="riskmap">
    @{
        for (var i = 7; i >= 1; i--)
        {
            <tr>
                @for (var j = 1; j <= 7; j++)
                {
                    prob = i - 2;
                    impact = j - 2;
                    if (i == 7 && j == 1)
                    {
                        <td rowspan="7" class="probaxis">
                            P<br />R<br />O<br />B<br />A<br />B<br />I<br />L<br />I<br />T<br />A<br />S
                        </td>
                    }
                    else if (i == 1 && j == 1)
                    {
                        <td colspan="6" class="impactaxis">
                            D A M P A K
                        </td>
                    }
                    else if (i == 1 && j > 1)
                    {
                    }
                    else if (j > 1)
                    {
                        if (impact == 0 && prob != 0)
                        {
                            <td class="prob">
                                @Utils.GetProbLevelText(prob)
                            </td>
                        }
                        else if (impact != 0 && prob == 0)
                        {
                            <td class="impact">
                                @Utils.GetImpactLevelText(impact)
                            </td>
                        }
                        else if (impact == 0 && prob == 0)
                        {
                            <td></td>
                        }
                        else
                        {
                            Utils.GetRiskLevelColors(prob * impact, out backColor, out foreColor);
                            cnt = RiskMapViewModel.GetCount(prob, impact, Model.RiskList);
                            <td style="text-align: center; background-color: @backColor; color: @foreColor">
                                @if (cnt > 0)
                                {
                                    <div style="font-size: @(8 + (decimal)cnt / (decimal)Model.MaxCount * 20M)pt; font-weight: bold">
                                        @Html.ActionLink(cnt.ToString(), "ShowRisks", new { prob = prob, impact = impact, posId = Model.Param.PosId, branchId = Model.Param.BranchId, mapDate = Model.Param.MapDate, mapDate2 = Model.Param.MapDate2, isApproved = Model.Param.IsApproved }, new { target = "_blank" })
                                    </div>
                                }
                            </td>
                        }
                    }
                }
            </tr>
        }
    }
</table>

<div style="padding-top: 12px">
    @Html.ActionLink("Ekspor ke Word", "ExportToWord", new { posId = Model.Param.PosId, branchId = Model.Param.BranchId, mapDate = Model.Param.MapDate, mapDate2 = Model.Param.MapDate2, isApproved = Model.Param.IsApproved }, null)
</div>

@section scripts {
    <script src="~/Scripts/apps/report/riskmap.js"></script>
}