@model Askrindo.Areas.KRI.Models.StrategicResponseViewModel
@{
    ViewBag.Title = "NonInvestSRProgressList";
    Layout = "~/Areas/KRI/Views/Shared/KRILayout.cshtml";
}

<link rel="stylesheet" href="~/Content/bootstrap-tagsinput.css" />
<div class="askrindo-content-box">

    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <label class="col-3 col-form-label">Kode Strategic Response</label>
                <label class="col-9 col-form-label">: @(Model.SRNonInvest.KRINonInvestData.Code + "." + Model.SRNonInvest.Id) </label>
            </div>
            <div class="form-group row">
                <label class="col-3 col-form-label">Kode Progress Mitigasi</label>
                <label class="col-9 col-form-label">: @(Model.SRNonInvest.KRINonInvestData.Code + "." + Model.SRNonInvest.Id + "." + Model.SRNonInvestProgress.Id) </label>
            </div>

        </div>
    </div>
    <hr>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(d => d.SRNonInvestProgress.Id);
        @Html.HiddenFor(d => d.SRNonInvestProgress.FTargetDate);
        @Html.HiddenFor(d => d.SRNonInvestProgress.SRId);
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">PIC</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.SRNonInvestProgress.PIC, new { @class = "form-control taginput", @data_role = "tagsinput" })
                <br />
                *pisahkan PIC dengan karakter ,
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sumber Daya</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(d => d.SRNonInvestProgress.Resources, new { @class = "form-control taginput", @data_role = "tagsinput" })
                <br />
                *pisahkan Sumbar Daya dengan ,
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Terget Penyelesaian</label>
            <div class="col-sm-10">
                <input name="risk_date" type="datetime" value="Sunday, 26 May 2019" data-date-format='DD, dd MM yyyy' class="form-control askrindo-form-control datepicker-here" data-language='en'>

                <label>@Html.CheckBoxFor(d => d.SRNonInvestProgress.RKAPF) Masuk ke RKAP tahun depan</label>
            </div>

        </div>

        <hr>
        <div class="row">
            <div class="col-12">
                <center>
                    <h3>
                        <a href="@Url.Action("NISRProgressActionList", new { Id = Model.SRNonInvestProgress.Id })">Update % Progress</a>
                    </h3>
                </center>
            </div>
        </div>
        <hr>
        <div id="form-warning" class="alert alert-warning d-none" role="alert">
            Data belum terisi dengan benar.
        </div>
        <div class="text-right">
            @Html.ActionLink("Batal", "NISRProgressList", new { Id = Model.SRNonInvest.Id }, new { @class = "btn btn-outline-danger askrindo-btn" })
            <button type="submit" class="btn btn-secondary askrindo-btn askrindo-btn-color">Submit</button>
        </div>
    }

</div>


@section scripts{
    <script src="~/Scripts/bootstrap-tagsinput.js"></script>
    <script>
        //$("#taginput").tagsinput('items');
        $(".taginput").val();
    </script>
}